.temporary-bounce {
  -webkit-animation-iteration-count: 1 !important;
  animation-iteration-count: 1 !important;
  -webkit-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
}

.transition-bezier {
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

/* The switch - the box around the slider */
.switch {
  font-size: 11px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  right: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.4s;
}
